<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello</title>
</head>

<body>

    <div style="text-align: center;">
        <img src="static/google.jpg" >
    </div>
    
    <div style="background-color: #EBEBEB;height: 85px;text-align: center;">
       <p style="display:inline">Search the web using Google!</p>
       <form action="" method="post">
           <input type="text" size="45" /> 
       </form>
       <button type="submit" style="margin:2px;">Google Search</button"> 
       <button type="submit" style="margin:2px;">I'm feeling lucky</button"> 
    </div>
<table>
    <tr>
        <td>Hi, I'm your first cell</td>
        <td>Hi, I'm your second cell</td>
        <td>Hi, I'm your third cell</td>
    </tr>
</table>
</body>
</html>
