<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello</title>
</head>

<body>

    <div align="center">
        <img src="static/google.jpg" align="center">
    </div>
    
    <div style="background-color: #EBEBEB;">
        <div align="center">
            <p align="center">Search the web using Google!</p>
        
            <form action="" method="post">
                <input type="text" size="45" /> 
            </form>
        </div>
        
        <div align="center">
            <button type="submit" style="margin:2px;">Google Search</button"> 
            <button type="submit" style="margin:2px;">I'm feeling lucky</button"> 
        </div>
    </div>

</body>
</html>
