<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign up for Google!</title>
</head>
<body>
  <div>
    <center>
      <h1>Sign up for Google!</h1>
      <br>
      <form action"" method="post">
        <input type="text" name="full_name" required placeholder=" full name">
        <p></p>
        <input type="email" name="email" required placeholder=" email">
        <p></p>
        <input type="password" name="password" required placeholder=" password">
        <p></p>
        <input type="number" name="age" required placeholder=" age in years">
        <p></p>
        <select name="heard_of" required>
          <option value="" selected>Please select an option</option>
          <option value="podcast" selected>Podcast</option>
          <option value="search" selected>Search engine</option>
          <option value="friend" selected>Friend's recommendation</option>
        </select>
        <button type="submit">Register</button>
      </form>
    </center>
  </div>
</body>
</html>
