html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

main{
  width: 970px;
  height: 490px;
  background-color: white;
  position:relative;
  border-radius: 35px;
}

body {
  background: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
}

input {
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  border: none;
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 40px;
  height: 48px;
  outline: none;
  width: 100%;
}

input:focus {
  border: 2.5px solid #26c0ab;
}

button {
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 24px;
  font-weight: 700;
  width: 120px;
  height: 49px;
  border: none;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
}

.title {
  color: hsl(186, 14%, 43%);
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 6px;
}

.icon {
  position: absolute;
  padding: 15px;
}

.displayTitle {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  
}

.subtitle{
  color: hsl(186, 14%, 43%);
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  width: 950px;
}

#calculator {
  width: 425px;
  height: 425px;
  background: white;
  padding: 12px;
  border-radius: 25px;
  position: relative;
}

#calcBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 400px;
  width: 400px;
}

#tipTitle{
  margin-bottom: 16px;
}

#selectTip {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
} 

#custom_tip {
  text-align: right;
  width: 120px;
  height: 50px;
}

#custom_tip::placeholder {
  text-align: center;
}

#displayResult {
  width: 425px;
  height: 425px;
  background: hsl(183, 100%, 15%);
  border-radius: 25px;
  position: relative;
}

#displayBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 330px;
  width: 330px;
}

#totalText,#totalNumber {
  color: hsl(172, 67%, 45%); 
  display: inline-block;
  width: 48%;
}

#totalText {
  text-align: left;
}

#totalNumber {
  text-align: right;
  font-size: 36px;
}

#displayTotalTip {
  margin-top: 0px;
}

#displayTotalBill {
  margin-top: 20px;
}

#reset {
  text-align:center;
}

#resetButton {
  margin-top: 100px;
  width: 100%; 
  color: hsl(183, 100%, 15%); 
  background: hsl(172, 67%, 45%); 
}
