<html>
    <head>
        <title>My site</title>
    </head>
    <body>
        <h1>Welcome to a corner</h1>
        <img src="https://media.istockphoto.com/photos/typical-alpine-landscape-picture-id953819496?b=1&k=20&m=953819496&s=170667a&w=0&h=MvHnLKE12-LeMeNckYvpA6zBVefbHSvcHOipaaJ_2JA=">
        <p>Within a corner, there are things</p>
        <ul>
          <li>fun to see</li>
          <li>fun to hear</li>
          <li>fun to eat</li>
        </ul>
        <p>Here in a corner, we work together to keep some things alive... anything really so that people around the world can also learn to keep things alive. I believe this act of human collaboration across an open platform is essential to individual growth and our collective future</p>
        <p>Read our manifesto, or actually help me write it because frankly I haven't done it yet
    </body>
</html>
